<p><%= flash[:alert] %></p>
<h2>게시글 수정</h2>

<form action="/posts/edit_complete" method="post">
  <input type="hidden" name="id" value="<%= @post.id %>">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="javascript">자바스크립트</option>
    <option value="java">자바</option>
    <option value="ruby">루비</option>
    <option value="config">환경</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" value="<%= @post.title %>"></p>
  <p>내용: <textarea name="post_content"><%= @post.content %></textarea></p>
  <input type="submit" value="수정하기">
</form>
